<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="languagesection" type="AzureSearchCustomHelp.UsersConfigMapSection, AzureSearchCustomHelp"/>
  </configSections>

  <languagesection>
    <!--Arabic-->
    <add language="ar" parentindex="" />
    <!--Czech-->
    <add language="cs" parentindex="" />
    <!--Danish-->
    <add language="da" parentindex="" />
    <!--German-->
    <add language="de" parentindex="" />
    <add language="de-AT" parentlanguage="de" index="" />
    <add language="de-CH" parentlanguage="de" index="" />
    <!--English-->
    <add language="en-US" ultimateindex="" />
    <add language="en-AU" parentlanguage="en-US" index="" />
    <add language="en-CA" parentlanguage="en-US" index="" />
    <add language="en-GB" parentlanguage="en-US" index="" />
    <add language="en-IE" parentlanguage="en-US" index="" />
    <add language="en-IN" parentlanguage="en-US" index="" />
    <add language="en-MY" parentlanguage="en-US" index="" />
    <add language="en-NZ" parentlanguage="en-US" index="" />
    <add language="en-SG" parentlanguage="en-US" index="" />
    <add language="en-ZA" parentlanguage="en-US" index="" />
    <!--Spanish-->
    <add language="es" parentindex="" />
    <add language="es-MX" parentlanguage="es" index="" />
    <!--Estonian-->
    <add language="et" parentindex="" />
    <!--Finnish-->
    <add language="fi" parentindex="" />
    <!--French-->
    <add language="fr" parentindex="" />
    <add language="fr-BE" parentlanguage="fr" index="" />
    <add language="fr-CA" parentlanguage="fr" index="" />
    <add language="fr-CH" parentlanguage="fr" index="" />
    <!--Hungarian-->
    <add language="hu" parentindex="" />
    <!--Icelandic-->
    <add language="is" parentindex="" />
    <!--Italian-->
    <add language="it" parentindex="" />
    <add language="it-CH" parentlanguage="it" index="" />
    <!--Japanese-->
    <add language="ja" parentindex="" />
    <!--Lithuanian-->
    <add language="lt" parentindex="" />
    <!--Latvian-->
    <add language="lv" parentindex="" />
    <!--Norwegian, Bokmål (Norway)-->
    <add language="nb-NO" parentindex="" />
    <!--Dutch-->
    <add language="nl" parentindex="" />
    <add language="nl-BE" parentlanguage="nl" index="" />
    <!--Polish-->
    <add language="pl" parentindex="" />
    <!--Portuguese (Brazil)-->
    <add language="pt-BR" parentindex="" />
    <!--Russian-->
    <add language="ru" parentindex="" />
    <!--Swedish-->
    <add language="sv" parentindex="" />
    <!--Thai-->
    <add language="th" parentindex="" />
    <!--Turkish-->
    <add language="tr" parentindex="" />
    <!--Simplified Chinese-->
    <add language="zh-Hans" parentindex="" />
  </languagesection>
</configuration>