<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.Search" version="9.0.1" targetFramework="net452" />
  <package id="Microsoft.Azure.Search.Common" version="9.0.1" targetFramework="net452" />
  <package id="Microsoft.Azure.Search.Data" version="9.0.1" targetFramework="net452" />
  <package id="Microsoft.Azure.Search.Service" version="9.0.1" targetFramework="net452" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.21" targetFramework="net452" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.19" targetFramework="net452" />
  <package id="Microsoft.Spatial" version="7.5.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net452" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net452" />
</packages>